PORT=5001
MONGO_URI=mongodb+srv://ycheng44695_db_user:WkB4P6JzdH4sm7bt@cluster0.mp2swbl.mongodb.net/nextstep_ai?retryWrites=true&w=majority
JWT_SECRET=dev-secret-key-12345
BYPASS_AUTH=false
GEMINI_API_KEY=AIzaSyAs0jsxUOdaGj6TYGpLyVxpdMYm1IyNpjU

CLOUDINARY_CLOUD_NAME=dtdre5goj
CLOUDINARY_API_KEY=331192265214144
CLOUDINARY_API_SECRET=pf5bbiJ2du7B0H22nofI4gcLQQM


